<!DOCTYPE html>
<html>
   <head>
      <title>Tra cứu học phần</title>
      <script src="/highcharts/highcharts.js"></script>
      <link rel="stylesheet" type="text/css" href="/styles/index.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
      <script src="/js/jquery.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="client.js"> </script>
      <script src="chart.js"></script>
      
   </head>
   <body>
         {{{body}}}
      <script>
         imageZoom("myimage", "myresult");
      </script>

   </body>
</html>