<div  id="header-container">
      <img src="Logo_Hust.png" style="margin: 6px 30px 6px 20px;">
       <h2 style="padding-top:30px;color:white;width:70%">Quản lý website tra cứu môn học</h2>
      <div id="right-header">
         <button  id="logoutBtn" class="btn btn-outline-warning">Thoát</button>
      </div>
</div>

<div id="body-container">




</div>


<div  id="footer-container">
   <div class="source_info">
      <a>* Dữ liệu được lấy từ trang  </a> <b></b><a href="https://https://ctt-sis.hust.edu.vn/" target="_blank"> CTT</a></b>
   </div>   
</div>