body {
    min-width: 60%;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header-container {
    background-color: #563d7c;
    height: 100px;
    height: 100px;
    min-height: 100px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    border: 1px solid black
}

#body-container {
    background-color: white;
    padding: 2%;
    flex: 1;
}

#footer-container {
    height: 50px;
    min-height: 50px;
    margin-bottom: auto;
    display: flex;
    background-color: #a9a9a9;
}

.recommend-content {
    overflow-y: scroll;
    border: solid 1px #547b7b;
    height: 200px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

#my-name {
    width: 300px;
    margin-bottom: 10px;
}

#right-header {
    margin-left: 100px;
    margin-top: 30px;
}

.my_recommend_btn {
    padding: 1% 2%;
    border-color: navy;
    background-color: navy;
    color: white;
    margin-left: 10px;
    width: 100px;
    box-shadow: 5px 5px #b6b2b2;
    cursor: pointer;
}

.input_container {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.info_detail {
    width: 30%;
    word-wrap: break-word;
    border: 1px solid black;
    padding: 5px;
    background-color: mintcream;
    box-shadow: 5px 5px #b6b2b2;
}

.form_input {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

.info_image {
    width: 70%;
    margin-left: 20px;
    position: relative;
}

.recommend_input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#info_container {
    display: flex;
    margin-right: 7px;
    flex-direction: row;
    min-height: 100%
}

* {
    box-sizing: border-box;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
    margin: 20px;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.login_form_popup {
    display: none;
    position: fixed;
    background-color: white;
    top: 10%;
    left: 40%;
    border: 2px solid gray;
    z-index: 9;
    max-width: 300px;
    padding: 10px;
}

.login_form_popup .btn:hover,
.open-button:hover {
    opacity: 1;
}

.login_form_popup input[type=text]:focus,
.login_form_popup input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.login_form_popup input[type=text],
.login_form_popup input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.source_info {
    margin: auto;
}

a:visited {
    color: blue;
}

#myresult {
    padding-left: 30px;
}

#subImgInfo {
    padding-left: 20px;
    border: 1px solid black;
    padding-top: 20px;
}

.search-tab {
    margin-top: 20px;
    margin-left: 30px;
}

.no-result-message {
    margin-top: 20px;
    margin-left: 50px;
    color: red;
}